*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(#eacece, #d7ceea, #ceeada); */
}

h1{
    margin: 10px;
    padding: 5px;
    font-size:50px;
    color: rgb(21, 20, 104);
    text-decoration: none;    
}

h2{
    font-size: 40px;
    color: rgb(21, 20, 104);
    margin-bottom: 20px;
}

h3{
    font-size:25px
    
}

.navBar{
    display: inline-flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton{
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    align-items: center;
    font-family: lora, sans-serif;
    color: black;
    background-color: white;
    text-decoration: none;
}

.boton2{
    background-color: #151468;
    border-radius: 10px;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Activeboton{
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    align-items: center;
    font-family: lora, sans-serif;
    font-weight: bold;
    font-size:20px;
    color: rgb(21, 20, 104);
    background-color: white;
    text-decoration: none;
    margin-bottom: 1.5%;
}


.carrito{
    width: 15%;
    padding: 10px;
    background-color:white;
}

.contador{
    display: flex;
    margin-left:10%  
   
}

.botonCarrito{
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 8px;
    font-weight: 20px;
}

.card {
    display: inline-block;
    max-width: 300px;
    margin: 5px;
}
 
.imgCarrito{
    height: 250px;
    width: 300px;
    vertical-align: middle;
}
 
.idNumero{
     font-size:20px;
     text-align:left
}
 
.nombreProducto{
     font-size:30px;
     text-align:center
}
 
.precio{
     font-size:20px;
}

.cardDetalle {
    display: inline-flex;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}

.containerDetail,
.nombreProductoDetail,
.descriptionDetail,
.precioDetail,
.stockDetail{
    background-color: #ffff;
    width: 100%;
}

.nombreProductoDetail{
    font-size:50px;
    font-weight: bold;
    text-align:center;
    font-family: cursive;
}

.descriptionDetail{
    width: 80%;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;  
}

.precioDetail,
.stockDetail{    
    display: inline;
    margin-left:10px;
    padding:2px;
    font-size: 20px;
}

