*{
    margin: 0;
    padding: 0;
    background-color:#eacece;
}

h1{
    margin: 10px;
    padding: 5px;
    font-size:30px;
}

.navBar{
    display: inline-flex;
    background-color: white;
    margin-left: 30%;
}

.boton{
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    align-items: center;
    font-family: lora, sans-serif;
    color: black;
    background-color: white;
}



.carrito{
    width: 10%;
    margin-left: -80%;
    padding: 10px;
    background-color:white;
    }

.contador{
    display: flex;
    margin-left:10%  
}

.botonCarrito{
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 8px;
    font-weight: 20px;
}

.card {
    display: inline-block;
    width: 10%;
    margin: 20px;
    padding: auto;
}

.cardDetalle {
    display: inline-block;
    width: 20%;
    margin: 20px;
    padding: auto;
}
 
.imgCarrito{
    width: 5rem;
 
}
 
.idNumero{
     font-size:20px;
     text-align:left
}
 
.nombreProducto{
     font-size:30px;
     text-align:center
}
 
.precio{
     font-size:20px;
}

