*{
    margin:0;
    padding:0;
    background-color: #eacece;
}

h1{
    margin: 10px;
    padding: 5px;
    font-size:30px;
}

.boton{
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    font-family: lora,sans-serif;
    color: black;
    background-color: white;
    
}

.icono > ion-icon{
    display: inline-flex;
   font-size: 30px;
}

.card{
    width: 18rem;
    display: inline-flex;
    margin: 10px;
    padding: 1px
}

.imgCarrito{
    height:250px;
}

.nombreProducto{
    margin-top:3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.precio{
    font-weight: bold;
    font-size:20px
}
